@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    padding: 20px;
    margin: 0 auto;
    background: linear-gradient(top, #222, #333);
    max-width: 1300px;
    color: #595B66;
    font-family: "Open Sans", sans-serif;

}

.box {
    background-color: #FFFFFF;
    margin: 0 0 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

p {
    font-size: 15px;
    background-color: #797979;
    padding: 10px;
    border-radius: 5px;
    color: white;
    line-height: 2;
}

[class$='face'] {
    margin: 16px;
    padding: 4px;

    background-color: #E7E7E7;
    width: 104px;
    height: 104px;
    object-fit: contain;

    box-shadow: inset 0 5px white,
    inset 0 -5px #BBB,
    inset 5px 0 #D7D7D7,
    inset -5px 0 #D7D7D7;

    border-radius: 10%;
}

.pip {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 4px;

    background-color: #333;
    box-shadow: inset 0 3px #111, inset 0 -3px #555;
}

.single-first-face {
    display: flex;
}

.single-second-face {
    display: flex;
    justify-content: center;
}

.single-third-face {
    display: flex;
    justify-content: flex-end;
}

.single-forth-face {
    display: flex;
    align-items: center;
}

.single-fifth-face {
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-sixth-face {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.single-seventh-face {
    display: flex;
    align-items: flex-end;
}

.single-eighth-face {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.double-first-face {
    display: flex;
    justify-content: space-between;
}

.double-second-face {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.double-third-face {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.double-forth-face {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.double-fifth-face {
    display: flex;
}

.double-fifth-face .pip:nth-child(2) {
    align-self: center;
}

.double-sixth-face {
    display: flex;
    justify-content: space-between;
}

.double-sixth-face .pip:nth-child(2) {
    align-self: flex-end;
}

.triple-first-face {
    display: flex;
}

.triple-first-face .pip:nth-child(2) {
    align-self: center;
}

.triple-first-face .pip:nth-child(3) {
    align-self: flex-end;
}

.triple-second-face {
    display: flex;
    align-items: center;
}

.triple-third-face {
    display: flex;
    align-items: flex-end;
}

.triple-forth-face {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.other-first-face {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-between;
}

.other-second-face {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.other-second-face .column {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
}

.other-third-face {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.other-forth-face {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
}

.other-fifth-face {
    display: flex;
    flex-wrap: wrap;
}

.other-fifth-face .row {
    display: flex;
    flex-basis: 100%;
}

.other-fifth-face .row:nth-child(2) {
    justify-content: center;
}

.other-fifth-face .row:nth-child(3) {
    justify-content: space-between;
}

.other-sixth-face {
    display: flex;
    flex-wrap: wrap;
}

.one-face {
    display: flex;
    justify-content: center;
    align-items: center;
}

.two-face {
    display: flex;
    justify-content: space-between;
}

.two-face .pip:nth-child(2) {
    align-self: flex-end;
}

.three-face {
    display: flex;
    flex-wrap: wrap;
}

.three-face .row {
    display: flex;
    flex-basis: 100%;
}

.three-face .row:nth-child(2) {
    justify-content: center;
}

.three-face .row:nth-child(3) {
    justify-content: flex-end;
}

.four-face {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.four-face .row {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
}

.fifth-face {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.fifth-face .row {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
}

.fifth-face .row:nth-child(2) {
    justify-content: center;
}

.six-face {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
